# folders
to_ignore
# data
# csvs_[0-9]*
user_creds
build
catboost_info
OLD_modeling_and_eda
models
#data_ori
*.egg-info

# files
Jenk_ref
requirements_bak.txt
*.c
*.so
account_info.py
credentials.json
sensitive_info.txt
*.fth

# python stuff
__pycache__

# bfg-generated
*bfg*

# ipynb stuff
*-checkpoint.ipynb
*.ipynb_checkpoints

# Stuff to sort into proper area later
possible_removal
/modeling
