# folders
to_ignore
data
csvs_[0-9]*
user_creds
build
catboost_info
OLD_modeling_and_eda
models

# files
Jenk_ref
requirements_bak.txt
*.c
*.so

# python stuff
__pycache__

# bfg-generated
*bfg*

# ipynb stuff
*-checkpoint.ipynb
*.ipynb_checkpoints


.DS_Store
justin_credit_card/
char-rnn/
justin_tinker/
**/to_delete
to_delete/
**/lendingclub_csvs
**/*.h5
**/*.pkl

**/*.zip
**/LCDataDictionary.xlsx
**/account_info.py
checking_imports.ipynb
hello.txt
test_cron.py
bfg-1.12.15.jar
passwords.txt
myserver.cron
**/*.pyc
**/exploratory_bayesian_updates.ipynb
account_info.py
account_info.pyc
**/config_file_wip.ini
**/config_data_wip.py
**/figuring_out_working_with_LC_api.ipynb
chromedriver
hacker_rank_to_copy.ipynb
**/data
.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/train
**/val
**/valid
**/test
**/faces
randoms/
zenbot/
**/model_dump/
**/tmp/
sensitive_info.txt
*/tmp/*
**/*.pyc
credentials.json
dataprep_and_modeling
lc_utils.py
